SystemIntegration.json
{
  "name": "SysIntegrationEgorov",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historical_spares",
          "mode": "list",
          "cachedResultName": "historical_spares"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.quantity }}",
            "student_id": 27,
            "spare_code": "={{ $json.spareCode }}",
            "spare_name": "={{ $json.spareName }}",
            "spare_description": "={{ $json.spareDescription }}",
            "spare_type": "={{ $json.spareType }}",
            "spare_status": "={{ $json.spareStatus }}",
            "price": "={{ $json.price }}",
            "updated_at": "={{ $json.updatedAt }}",
            "sync_status": "'active'",
            "sync_timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "spare_code"
          ],
          "schema": [
            {
              "id": "spare_code",
              "displayName": "spare_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "spare_name",
              "displayName": "spare_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_description",
              "displayName": "spare_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_type",
              "displayName": "spare_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spare_status",
              "displayName": "spare_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sync_status",
              "displayName": "sync_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sync_timestamp",
              "displayName": "sync_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "student_id",
              "displayName": "student_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        -128
      ],
      "id": "f509cf9a-08c4-4df4-add8-4cdfb792fe75",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "1Wj3c0HINhGce9dr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE historical_spares \nSET spare_status = 'inactive'\nWHERE student_id = 27",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -128
      ],
      "id": "2e3a5f09-f02b-48f0-9b15-6e84f550342d",
      "name": "Make spares inactive",
      "credentials": {
        "postgres": {
          "id": "1Wj3c0HINhGce9dr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://212.237.219.35:8080/students/27/cms/spares",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "studentId",
              "value": "27"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "size",
              "value": "10"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount }}"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -128
      ],
      "id": "6f0e8881-7285-4cae-8dc0-0f3c5a54db77",
      "name": "Get data from CMS "
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historical_spares",
          "mode": "list",
          "cachedResultName": "historical_spares"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        128
      ],
      "id": "368b73b9-a03d-43d9-97f2-78923e73d9e6",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "1Wj3c0HINhGce9dr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { error: 'Нет данных для экспорта' } }];\n}\n\nconst csvRows = items.map(item => {\n  const data = item.json;\n  return [\n    (data.spare_code || '').toString().replace(/;/g, '\\\\;'),\n    (data.spare_name || '').toString().replace(/;/g, '\\\\;'),\n    (data.spare_description || '').toString().replace(/;/g, '\\\\;'),\n    (data.spare_type || '').toString().replace(/;/g, '\\\\;'),\n    (data.spare_status || '').toString().replace(/;/g, '\\\\;'),\n    (data.price || 0).toString(),\n    (data.quantity || 0).toString(),\n    (data.updated_at || '').toString()\n  ].join(';');\n});\n\nconst csv = csvRows.join('\\n') + '\\n';\n\nreturn [{ json: { csv }}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        128
      ],
      "id": "2b894912-1cc5-4574-abed-40dd9ce617a7",
      "name": "Make Proper CSV Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/27/report/csv",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv; charset=utf-8",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        128
      ],
      "id": "2de9b6e6-2833-467b-9237-bdab9e202c59",
      "name": "Report"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "00df1462-6c44-4d2f-8afe-b0d5b361edcb",
      "name": "Execute workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Make spares inactive": {
      "main": [
        [
          {
            "node": "Get data from CMS ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data from CMS ": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Make Proper CSV Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Proper CSV Format": {
      "main": [
        [
          {
            "node": "Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Make spares inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "711d4fd4-46f3-4317-94b3-024165a4dd1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f36ba67f8fe9edfcd438038db22118a8f4b3d6f3fe9658d75b42dcf394c64176"
  },
  "id": "FUftNYzdfWtOGgkI",
  "tags": []
}